<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <input 
      type="text" 
      class="form-control" 
      placeholder="Search..." 
      (keyup)="updateFilter($event)" 
      style="margin-bottom: 15px;">
    
    <ngx-datatable
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true">
      
      <ngx-datatable-column name="ID" prop="id" [width]="50"></ngx-datatable-column>
      <ngx-datatable-column name="First Name" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column name="Last Name" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
      <ngx-datatable-column name="E-mail" prop="email"></ngx-datatable-column>
      <ngx-datatable-column name="Age" prop="age" [width]="60"></ngx-datatable-column>
      
      <ngx-datatable-column name="Actions" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button 
            nbButton 
            status="danger" 
            size="small" 
            (click)="onDeleteConfirm(row)">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>